 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  }
        
body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
        
.container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  }
        
.fa-face-smile {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  }
        
h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}
        
.form-group {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  }
        
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
        
        
button {
  width: 100%;
  padding: 12px;
  background-color: #468aef;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
 }
        
.links {
  margin-top: 20px;
  font-size: 14px;
  }
        
.links a {
  color: #0a000451;
  text-decoration: none;
  }
        
.links a:hover {
  text-decoration: underline;
  }

  .fa-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    opacity: 0.5;
  }
        
.divider {
  margin: 20px 0;
  color: #121111;
  font-size: 14px;
  font-weight: 200;
}


.create-account-link{
  display: inline-block; 
  width: 100%;
  color: black;
  background-color: white; 
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd; 
  margin-top: 0;
  text-decoration: none;
}